<strong>Olá, {{name }}</strong>
<p>Parabens pela sua matricula em nossa academia, segue abaixo as descriçoes do seu plano</p>
<p>
  <strong>Estudante:</strong>{{email}} <br/>
  <strong>Voce tem uma nova resposta:</strong>{{answer}}  <br/>
  <strong>Data da resposta:</strong>{{answer_at}} <br/>


  <small>
    Don't pay don't agin.
  </small>
</p>
